@use 'base/mixins' as m;
@use 'base/variables' as v;
.header {
    background-color: #23C1E8;
    &__grid{
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        margin: 0 0 0 1rem;
    }
    &__logo {
        width: 120px;
        height: 120px;
    }
    &__image{
        border-radius: 50%;
        border: white solid 0.5rem;
    }
    &__navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        @include m.tablet {
            margin-top: 0;
            flex-direction: row;
        }
    }
    &__enlace{
        font-weight: 900;
        font-size: 2.5rem;
        color: #2B2F36;
    }
    &__enlace:hover{
        font-weight: 900;
        font-size: 2.5rem;
        color: #FFD261;
    }
}