@use 'base/mixins' as m;
@use 'base/variables' as v;

.advance{
    background-color: #F2F2F2;
    margin: 4rem 0;
    padding: 4rem 0;
    &__grid{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        @include m.tablet{
            grid-template-rows: unset;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__imagen{
        background-image: url(/build/img/construccion2.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2rem;
    }

    &__texto{
        padding: 0 1rem;
        color: #2B2E36;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &__title{
        color: #2B2E36;
        font-size: 5rem;
    }
    &__content{
        font-size: 3rem;
    }
}

