@use 'base/mixins' as m;
@use 'base/variables' as v;

.advance{
    &__grid{
        
        display: grid;
        grid-template-rows: repeat(2,1fr);
        gap: 4rem 4rem;
        padding-top: 2rem;
        @include m.tablet{
            margin-top: 5rem;
            grid-template-rows: unset;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__container{
        // min-width: 20rem;
        background-size: cover;
        background-position: center;
        &__image{
            border-radius: 2rem;
        }
    }
    &__texto{
        color: #2B2E36;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &__title{
        color: #2B2E36;
        font-size: 5rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        @include m.tablet{
            margin-top: 0;
            margin-bottom: 3rem;
        }
    }
    &__content{
        font-size: 3rem;
    }
}

