@use 'base/mixins' as m;
@use 'base/variables' as v;

.galery{
    
    
    &__title{
        text-align: center;
        color: #2B2E36;
    }
    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        margin-top: 0;
        @include m.tablet{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
        }
    }
    &__image1{
        height: 40rem;
        background-image: url(/build/img/galeria1.webp);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid gray;
    }
    &__image2{
        height: 40rem;
        background-image: url(/build/img/galeria2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid gray;
    }
    &__image3{
        height: 40rem;
        background-image: url(/build/img/misslibia.webp);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid gray;
    }
    &__image4{
        height: 40rem;
        background-image: url(/build/img/galeria4.webp);
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid gray;
    }

    @include m.tablet{
        margin-top: 5rem;
    }

    
}