@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero{
    &__grid{
        margin-top: 2rem;
        display: grid;
        grid-template-rows: repeat(3,30rem);
        min-height: 35rem;
        gap: 2rem;
        @include m.tablet{
            grid-template-rows: unset;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__first{
        background-image: url(/build/img/misscarmela.webp);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        border-radius: 10%;
    }
    &__second{
        background-image: url(/build/img/galeria1.webp);
        background-size: cover;
        background-position: center;
        border-radius: 10%;
        background-repeat: no-repeat;
    }
    &__third{
        background-image: url(/build/img/aprendiendoaescribir.webp);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        border-radius: 10%;
    }
}


