@use 'base/mixins' as m;
@use 'base/variables' as v;
// body{
//     background-color: #23C1E8;
// }

.hero {
    min-height: 60rem;
    background-image: url(../img/hero1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: v.$blanco;
    &__texto {
        max-width: 60rem;
    }
}

