@use 'base/mixins' as m;
@use 'base/variables' as v;

.info{
    background-color: #F2F2F2;
    margin: 4rem 0;
    padding: 4rem 0;

    &__imagen{
        order: 1;
    }
    &__grid{
        display: flex;
        flex-direction: column-reverse;
        @include m.tablet{
            flex-direction: row;
        }
    }

    &__container{
        min-width: 20rem;
        background-size: cover;
        background-position: center;
        &__image{
            border-radius: 2rem;
        }
    }
    &__texto{
        padding: 0 1rem;
        order: 2;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &__title{
        color: #2B2E36;
        font-size: 5rem;
    }
    &__content{
        font-size: 3rem;
        color: #2B2E36;
    }
}

