@use 'base/mixins' as m;
@use 'base/variables' as v;

.info{
    &__grid{
        padding-top: 0rem;
        margin-top: 7rem;
        @include m.tablet{
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 2rem;
            gap: 4rem;
        }
    }

    &__container{
        min-width: 20rem;
        background-size: cover;
        background-position: center;
        &__image{
            border-radius: 2rem;
        }
    }
    &__texto{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &__title{
        color: #2B2E36;
        font-size: 5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        @include m.tablet{
            margin-top: 0;
        }
    }
    &__content{
        font-size: 3rem;
        margin: 0;
        color: #2B2E36;
        @include m.tablet{
            margin-top: 3rem;
        }
    }
}

