@use 'base/mixins' as m;
@use 'base/variables' as v;

.join {
    margin-top: 5rem;
    min-height: 60rem;
    background-image: url(../img/profesores.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: v.$blanco;
    &__texto {
        max-width: 60rem;
    }
}