.message{
    margin: 4rem;
    &__chat{
        border: gray solid 0.2rem;
        height: 17rem;
        border-radius: 2rem;
        
    }
    &__text{
        height: 80%;
        width: 99%;
        margin: 2rem auto;
        text-overflow: ellipsis;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track{
            background: white;
        }
        &::-webkit-scrollbar-thumb{
            background: gray;
        }
    }

}